* {
  margin: 0;
  box-sizing: border-box;
};

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/ROBOTO-REGULAR.TTF');
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EFF0F3;
}