* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

:root{
    --Pink-Hard: #FF2E63;
    --Gray-Dark: #252A34;
    --White: #FFFFFF;

}

body {
    width: 99.24vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF0F3;
}

.request.active {
    display: none;
}

.request {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 0;
}

.request .close-signup {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.request .close-signup i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.request .close-signup i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.request .signup {
    width: 506px;
    height: 704px;
    border-radius: 16px;
    background-color: var(--White);
}

.request .signup .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.request .signup .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.request .signup .container {
    width: 385px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.request .signup .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .first-row input {
    width: 184px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .first-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .third-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fourth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fourth-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .fourth-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fifth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fifth-row .card {
    width: 116px;
    height: 72px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #EFF0F3;
    cursor: pointer;
}

.request .signup .container .fifth-row .card p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.request .signup .container .fifth-row .card:hover {
    border: 2px solid var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover p {
    color: var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}


.request .signup .container .createAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 40px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.request .signup .container .createAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
}

.loginrequest.active {
    display: none;
}

.loginrequest {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 0;
}

.loginrequest .login {
    width: 505px;
    height: 408px;
    background-color: var(--White);
    border-radius: 16px;
}

.loginrequest .close-login {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginrequest .close-login i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.loginrequest .close-login i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.loginrequest .login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.loginrequest .login .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.loginrequest .login .container {
    width: 385px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loginrequest .login .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginrequest .login .container .first-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.loginrequest .login .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .connectAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 24px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container .connectAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
    transition: .2s;
}

.loginrequest .login .container p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #8593A9;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container p:hover {
    color: var(--Gray-Dark);
    transition: .2s;
}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}









/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    min-height: 64px;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
    z-index: 0;
}

.logo {
    width: 120px;
    height: 32px;
}

.logo img {
    cursor: pointer;
}

.menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: var(--Gray-Dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: .2s;
}

.menu #create {
    display: none;
}

.menu a:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-options.active {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options.active .logIn {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .3s;
}

.user-options.active .logIn:hover a{
    transition: .3s;
    color: var(--Gray-Dark);
}

.user-options.active .logIn:hover img{
    transition: .3s;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(85%);
}

.user-options.active .logIn a {
    text-decoration: none;
    color: var(--Pink-Hard);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.user-options.active .signUp {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options.active .signUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Pink-Hard);
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.user-options.active .signUp a:hover {
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}

.user-options {
    display: none;
}

.user-loggedIn.active {
    display: none;
}

.user-loggedIn {
    height: 65%;
    width: 14.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}

.user-loggedIn .img1 {
    display: none;
}

.user-loggedIn .img2 {
    display: none;
}

.user-loggedIn .img3 {
    display: none;
}

.user-loggedIn img {
    width: 17%;
    border-radius: 50%;
    cursor: default;
}

.user-loggedIn .user-options-inner {
    width: 83%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-loggedIn .user-options-inner p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn .user-options-inner .user-logout {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-loggedIn .user-options-inner .user-logout i {
    font-size: 32px;
    color: var(--Gray-Dark);
    cursor: pointer;
    padding-top: 12%;
    transition: .2s;
}

.user-loggedIn .user-options-inner .user-logout i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}









.content {
    width: 1224px;
    height: 130vh;
    cursor: default;
}

.content .first-row {
    width: 100%;
    height: 672px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.content .first-row .property-form {
    width: 65%;
    min-width: 704px;
    height: 100%;
    background-color: var(--White);
    border-radius: 8px;
}

.content .first-row .property-form .section-title {
    width: 65%;
    height: 32px;
    font-size: .95vw;
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 48px;
}

.content .first-row .property-form .first-inner-row {
    width: 100%;
    height: 48px;
    margin-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .first-inner-row .location {
    width: 296px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .first-inner-row .location input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1vw;
    padding-left: 16px;
    color: var(--Gray-Dark);
}

.content .first-row .property-form .first-inner-row .location input::placeholder {
    color: var(--Gray-Dark);
}

.content .first-row .property-form .first-inner-row .address {
    width: 296px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .first-inner-row .address input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1vw;
    padding-left: 16px;
}

.content .first-row .property-form .first-inner-row .address input::placeholder {
    color: var(--Gray-Dark);
}

.content .first-row .property-form .second-inner-row {
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .second-inner-row .property-type {
    width: 296px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .property-type select {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1vw;
    padding-left: 16px;
    color: var(--Gray-Dark);
    -webkit-appearance: none;
}

.content .first-row .property-form .second-inner-row .property-type select option:checked {
    display: none;
}

.content .first-row .property-form .second-inner-row .property-type select::selection {
    color: var(--Pink-Hard);
}

.content .first-row .property-form .second-inner-row .status {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .status select {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1vw;
    padding-left: 16px;
    color: var(--Gray-Dark);
    -webkit-appearance: none;
}

.content .first-row .property-form .second-inner-row .year-built {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .year-built input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: .85vw;
    padding-left: 16px;
    color: var(--Gray-Dark);
}

.content .first-row .property-form .second-inner-row .year-built input::placeholder {
    color: var(--Gray-Dark);
    font-size: 1vw;
}










.content .first-row .property-card {
    width: 35%;
    min-width: 496px;
    height: 100%;
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content .first-row .property-card .images-section {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    background-color: #8593A9;
}

.content .first-row .property-card .images-section .image-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.content .first-row .property-card .images-section .image-icon #output {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

.content .first-row .property-card .images-section .image-icon #output {
    width: 100%;
    height: 320px;
}

.content .first-row .property-card .images-section .image-icon #camera-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    margin-top: 5%;
}

.content .first-row .property-card .images-section .image-button {
    position: absolute;
    width: 25%;
    height: 13%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    padding-top: 12%;
}

.content .first-row .property-card .images-section .image-button #files {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--White);
    color: var(--Gray-Dark);
    font-size: 1vw;
    display: none;
}

.content .first-row .property-card .images-section .image-button .button-images {
    width: 50%;
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: transparent;
    border: 2px var(--White) solid;
    color: var(--White);
    font-size: 1vw;
    cursor: pointer;
    transition: .25s;
}

.content .first-row .property-card .images-section .image-button .button-images:hover {
    background-color: var(--Pink-Hard);
    border: 2px var(--Pink-Hard) solid;
    transition: .25s;
}

.content .first-row .property-card .images-section .image-button #files::-webkit-file-upload-button {
    visibility: hidden;
}

.content .first-row .property-card .info-section {
    width: 100%;
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 8px 8px;
    background-color: var(--White);
}

.content .first-row .property-card .section-title {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.content .first-row .property-card .section-title h1 {
    font-size: 2vw;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .section-title #MXN {
    margin-left: 8px;
    width: 32px;
    height: 32px;
    display: none;
}

.content .first-row .property-card .property-info {
    width: 100%;
    height: 44px;
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-info .first-row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-info .first-row .divider {
    width: 4px;
}

.content .first-row .property-card .property-info .first-row p {
    font-size: .88vw;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .property-info .second-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content .first-row .property-card .property-info .second-row .divider {
    width: 1px;
    height: 100%;
    display: none;
}

.content .first-row .property-card .property-info .second-row p {
    font-size: .85vw;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-card .property-location {
    width: 100%;
    height: 44px;
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-location #location {
    font-size: .9vw;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .property-location #address {
    font-size: .85vw;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-card .property-tag-icons {
    width: 100%;
    height: 40px;
    margin-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-tag-icons .tags {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.content .first-row .property-card .property-tag-icons .tags #sell {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--Pink-Hard) solid;
    color: var(--Pink-Hard);
    border-radius: 4px;
    
}

.content .first-row .property-card .property-tag-icons .tags #rent {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #ED6D11 solid;
    color: #ED6D11;
    border-radius: 4px;
    display: none;
}

.content .first-row .property-card .property-tag-icons .tags #urgent {
    width:80px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #ED1111 solid;
    color: #FFFFFF;
    background-color: #ED1111;
    border-radius: 4px;
    /* display: none; */
}

.content .first-row .property-card .property-tag-icons .icons {
    width: 40%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}