* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

:root{
    --Pink-Hard: #FF2E63;
    --Gray-Dark: #252A34;
    --White: #FFFFFF;

}

body {
    width: 100vw;
    height: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #EFF0F3;
}

body::-webkit-scrollbar {
    display: none;
}

.request.active {
    display: none;
}

.request {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 0;
}

.request .close-signup {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.request .close-signup i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.request .close-signup i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.request .signup {
    width: 506px;
    height: 704px;
    border-radius: 16px;
    background-color: var(--White);
}

.request .signup .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.request .signup .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.request .signup .container {
    width: 385px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.request .signup .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .first-row input {
    width: 184px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .first-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .third-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fourth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fourth-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .fourth-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fifth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fifth-row .card {
    width: 116px;
    height: 72px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #EFF0F3;
    cursor: pointer;
}

.request .signup .container .fifth-row .card p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.request .signup .container .fifth-row .card:hover {
    border: 2px solid var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover p {
    color: var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}


.request .signup .container .createAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 40px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.request .signup .container .createAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
}

.loginrequest.active {
    display: none;
}

.loginrequest {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 0;
}

.loginrequest .login {
    width: 505px;
    height: 408px;
    background-color: var(--White);
    border-radius: 16px;
}

.loginrequest .close-login {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginrequest .close-login i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.loginrequest .close-login i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.loginrequest .login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.loginrequest .login .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.loginrequest .login .container {
    width: 385px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loginrequest .login .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginrequest .login .container .first-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.loginrequest .login .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .connectAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 24px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container .connectAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
    transition: .2s;
}

.loginrequest .login .container p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #8593A9;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container p:hover {
    color: var(--Gray-Dark);
    transition: .2s;
}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}









/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    min-height: 64px;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
    z-index: 0;
}

.logo {
    width: 120px;
    height: 32px;
}

.logo img {
    cursor: pointer;
}

.menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: var(--Gray-Dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: .2s;
}

.menu #create {
    display: none;
}

.menu a:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-options.active {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options.active .logIn {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .3s;
}

.user-options.active .logIn:hover a{
    transition: .3s;
    color: var(--Gray-Dark);
}

.user-options.active .logIn:hover img{
    transition: .3s;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(85%);
}

.user-options.active .logIn a {
    text-decoration: none;
    color: var(--Pink-Hard);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.user-options.active .signUp {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options.active .signUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Pink-Hard);
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.user-options.active .signUp a:hover {
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}

.user-options {
    display: none;
}

.user-loggedIn.active {
    display: none;
}

.user-loggedIn {
    height: 65%;
    width: 14.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}

.user-loggedIn .img1 {
    display: none;
}

.user-loggedIn .img2 {
    display: none;
}

.user-loggedIn .img3 {
    display: none;
}

.user-loggedIn img {
    width: 17%;
    border-radius: 50%;
    cursor: default;
}

.user-loggedIn .user-options-inner {
    width: 83%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-loggedIn .user-options-inner p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn .user-options-inner .user-logout {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-loggedIn .user-options-inner .user-logout i {
    font-size: 32px;
    color: var(--Gray-Dark);
    cursor: pointer;
    padding-top: 12%;
    transition: .2s;
}

.user-loggedIn .user-options-inner .user-logout i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}









.content {
    width: 1224px;
    height: 110vh;
    cursor: default;
}

.content .first-row {
    width: 100%;
    height: 672px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.content .first-row .property-form {
    width: 65%;
    min-width: 704px;
    height: 100%;
    background-color: var(--White);
    border-radius: 8px;
}

.content .first-row .property-form .section-title {
    width: 65%;
    height: 32px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 48px;
}

.content .first-row .property-form .first-inner-row {
    width: 100%;
    height: 48px;
    margin-top: 32px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .first-inner-row .input-group {
    position: relative;
}

.content .first-row .property-form .first-inner-row .input-group .input {
    width: 296px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.content .first-row .property-form .first-inner-row .input-group .input:focus {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .first-row .property-form .first-inner-row .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .first-row .property-form .first-inner-row .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.content .first-row .property-form .first-inner-row .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .first-inner-row .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .first-inner-row .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .first-inner-row .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .first-inner-row .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.content .first-row .property-form .first-inner-row .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}



.content .first-row .property-form .second-inner-row {
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .second-inner-row .property-type {
    width: 296px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .property-type select {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1rem;
    padding-left: 12px;
    color: var(--Gray-Dark);
    -webkit-appearance: none;
}

.content .first-row .property-form .second-inner-row .property-type select option:checked {
    display: none;
}

.content .first-row .property-form .second-inner-row .property-type select::selection {
    color: var(--Pink-Hard);
}

.content .first-row .property-form .second-inner-row .status {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .status select {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1rem;
    padding-left: 12px;
    color: var(--Gray-Dark);
    -webkit-appearance: none;
}

.content .first-row .property-form .second-inner-row .year-built {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .second-inner-row .year-built input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1rem;
    padding-left: 12px;
    color: var(--Gray-Dark);
}

.content .first-row .property-form .second-inner-row .year-built input::placeholder {
    color: var(--Gray-Dark);
    font-size: 1rem;
}

.content .first-row .property-form .second-inner-row .year-built input::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}







.content .first-row .property-form .third-inner-container {
    width: 100%;
    height: 176px;
    margin-top: 16px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .third-inner-container .left-column {
    width: 296px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content .first-row .property-form .third-inner-container .left-column .price-input {
    width: 296px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group {
    position: relative;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input {
    width: 213px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:focus {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}

.content .first-row .property-form .third-inner-container .left-column .price-input .currency {
    width: 67px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px #EFF0F3 solid;
    font-size: 1rem;
    color: var(--Gray-Dark);
}

.content .first-row .property-form .third-inner-container .left-column .price-input .currency select {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 1rem;
    padding-left: 12px;
    color: var(--Gray-Dark);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 8px;
}







.content .first-row .property-form .third-inner-container .left-column .property-size {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group {
    position: relative;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input {
    width: 296px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:focus {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.content .first-row .property-form .third-inner-container .left-column .property-size .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}










.content .first-row .property-form .third-inner-container .left-column .phone-number {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group {
    position: relative;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input {
    width: 296px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:focus {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.content .first-row .property-form .third-inner-container .left-column .phone-number .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}














.content .first-row .property-form .third-inner-container .right-column {
    width: 296px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .first-row {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    gap: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .first-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row button {
    width: 24px;
    height: 24px;
    border: 1px solid #8593A9;
    border-radius: 28px;
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--White);
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row button:hover p {
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row button p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
    padding-bottom: 1px;
}

.content .first-row .property-form .third-inner-container .right-column .bedrooms .second-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}







.content .first-row .property-form .third-inner-container .right-column {
    width: 296px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .first-row {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    gap: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .first-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row button {
    width: 24px;
    height: 24px;
    border: 1px solid #8593A9;
    border-radius: 28px;
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--White);
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row button:hover p {
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row button p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
    padding-bottom: 1px;
}

.content .first-row .property-form .third-inner-container .right-column .bathrooms .second-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}







.content .first-row .property-form .third-inner-container .right-column {
    width: 296px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .garajes {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .first-row {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    gap: 8px;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .first-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row button {
    width: 24px;
    height: 24px;
    border: 1px solid #8593A9;
    border-radius: 28px;
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--White);
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row button:hover p {
    color: var(--Pink-Hard);
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row button p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
    padding-bottom: 1px;
}

.content .first-row .property-form .third-inner-container .right-column .garajes .second-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}






















.content .first-row .property-form .fourth-inner-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding-left: 48px;
    padding-right: 48px;
}

.content .first-row .property-form .fourth-inner-container .container {
    width: 100%;
    height: 100%;
    border: 2px solid #EFF0F3;
    padding: 12px 16px;
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}

.content .first-row .property-form .fourth-inner-container .container .switch {
    --button-width: 32px;
    --button-height: 16px;
    --toggle-diameter: 12px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #8593A9;
    --color-green: #4296f4;
}

.content .first-row .property-form .fourth-inner-container .container .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    margin-top: 20%;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.content .first-row .property-form .fourth-inner-container .container .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.content .first-row .property-form .fourth-inner-container .container .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--Pink-Hard);
}

.content .first-row .property-form .fourth-inner-container .container .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.content .first-row .property-form .fourth-inner-container .container .switch input[type="checkbox"] {
    display: none;
}

.content .first-row .property-form .fourth-inner-container .container .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.content .first-row .property-form .fourth-inner-container .container .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}














.content .first-row .property-form .fourth-inner-container .container .kitchen {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .kitchen p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}






.content .first-row .property-form .fourth-inner-container .container .washer {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .washer p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .ac {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .ac p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .gas {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .gas p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .pool {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .pool p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .jacuzzi {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .jacuzzi p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .gym {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .gym p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}





.content .first-row .property-form .fourth-inner-container .container .garden {
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fourth-inner-container .container .garden p {
    font-size: .8rem;
    font-weight: 500;
    color: #8593A9;
}
















.content .first-row .property-form .fifth-inner-container {
    width: 100%;
    height: 96px;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 16px;
}

.content .first-row .property-form .fifth-inner-container .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-row .property-form .fifth-inner-container .image-container .image {
    width: 96px;   
    height: 100%;
    border-radius: 8px;
    background-color: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image.active {
    width: 96px;   
    height: 100%;
    border-radius: 8px;
    background-color: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image0 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image0 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output0 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image1 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image1 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output1 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image2 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image2 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output2 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image3 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image3 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output3 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image4 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image4 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output4 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image .image5 {
    cursor: pointer;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #image5 {
    display: none;
}

.content .first-row .property-form .fifth-inner-container .image-container .image #output5 {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
}

.content .first-row .property-form .fifth-inner-container .image-container .image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    z-index: 2;
}

.content .first-row .property-form .fifth-inner-container .image-container .image.active:hover {
    border: 2px dashed var(--Pink-Hard);
}


























.content .first-row .property-card {
    width: 35%;
    min-width: 496px;
    height: 100%;
    background-color: var(--White);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content .first-row .property-card .images-section {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    background-color: #8593A9;
}

.content .first-row .property-card .images-section .image-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content .first-row .property-card .images-section .image-icon #output {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

.content .first-row .property-card .images-section .image-icon #output {
    width: 100%;
    height: 320px;
}

.content .first-row .property-card .images-section .image-icon #camera-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}

.content .first-row .property-card .images-section .image-button {
    position: absolute;
    width: 25%;
    height: 13%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    padding-top: 220px;
}

.content .first-row .property-card .images-section .image-button #files {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--White);
    color: var(--Gray-Dark);
    font-size: 1vw;
    display: none;
}

.content .first-row .property-card .images-section .image-button .button-images {
    width: 250px;
    height:  50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: transparent;
    border: 2px var(--White) solid;
    color: var(--White);
    font-size: 1rem;
    cursor: pointer;
    transition: .25s;
}

.content .first-row .property-card .images-section .image-button .button-images:hover {
    background-color: var(--Pink-Hard);
    border: 2px var(--Pink-Hard) solid;
    transition: .25s;
}

.content .first-row .property-card .images-section .image-button #files::-webkit-file-upload-button {
    visibility: hidden;
}

.content .first-row .property-card .info-section {
    width: 100%;
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 8px 8px;
    background-color: var(--White);
}

.content .first-row .property-card .section-title {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.content .first-row .property-card .section-title h1 {
    font-size: 2.5rem;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .section-title #MXN {
    margin-left: 8px;
    width: 32px;
    height: 32px;
    display: none;
}

.content .first-row .property-card .section-title #USD {
    margin-left: 8px;
    width: 32px;
    height: 32px;
    display: none;
}

.content .first-row .property-card .property-info {
    width: 100%;
    height: 44px;
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-info .first-row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-info .first-row .divider {
    width: 4px;
}

.content .first-row .property-card .property-info .first-row p {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .property-info .second-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: space-evenly;
}

.content .first-row .property-card .property-info .second-row .divider {
    width: 1px;
    height: 100%;
    display: none;
}

.content .first-row .property-card .property-info .second-row p {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-card .property-info .second-row #kitchen-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #kitchen-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #bathroom-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #washer-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #washer-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #ac-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #ac-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #gas-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #gas-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #pool-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #pool-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #jacuzzi-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #jacuzzi-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #gym-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #gym-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-info .second-row #garden-card.active{
    filter: none;
}

.content .first-row .property-card .property-info .second-row #garden-card{
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-row .property-card .property-location {
    width: 100%;
    height: 44px;
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-location #location-card {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.content .first-row .property-card .property-location #location-card:focus {
    outline: none;
}

.content .first-row .property-card .property-location #address-card {
    font-size: 1rem;
    font-weight: 400;
    color: #8593A9;
}

.content .first-row .property-card .property-tag-icons {
    width: 100%;
    height: 40px;
    margin-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .first-row .property-card .property-tag-icons .tags {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.content .first-row .property-card .property-tag-icons .tags #sell-card {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--Pink-Hard) solid;
    color: var(--Pink-Hard);
    border-radius: 4px;
    display: none
}

.content .first-row .property-card .property-tag-icons .tags #rent-card {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #ED6D11 solid;
    color: #ED6D11;
    border-radius: 4px;
    display: none;
}

.content .first-row .property-card .property-tag-icons .tags #urgent-card {
    width:80px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #ED1111 solid;
    color: #FFFFFF;
    background-color: #ED1111;
    border-radius: 4px;
    display: none;
}

.content .first-row .property-card .property-tag-icons .icons {
    width: 40%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}




















.content .second-row {
    width: 100%;
    height: 256px;
    margin-top: 24px;
    border-radius: 8px;
    background-color: var(--White);
}

.content .second-row .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 48px;
}

.content .second-row .container .switch {
    --button-width: 32px;
    --button-height: 16px;
    --toggle-diameter: 12px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #8593A9;
    --color-green: #4296f4;
}

.content .second-row .container .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    margin-top: 15%;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.content .second-row .container .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.content .second-row .container .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--Pink-Hard);
}

.content .second-row .container .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.content .second-row .container .switch input[type="checkbox"] {
    display: none;
}

.content .second-row .container .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.content .second-row .container .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}












.content .second-row .container .privacy {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .second-row .container .privacy .privacy-icon {
    width: 64px;
    height: 64px;
}

.content .second-row .container .privacy .privacy-row {
    width: calc(100% - 64px);
    height: 100%;
    padding-left: 32px;
}

.content .second-row .container .privacy .privacy-row .button {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.content .second-row .container .privacy .privacy-row .button p {
    font-weight: 500;
    color: #252A34;
}








.content .second-row .container .info {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-row .container .info p {
    font-weight: 400;
    color: #8593A9;
}














.content .second-row .container .urgent {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .second-row .container .urgent .urgent-icon {
    width: 64px;
    height: 64px;
}

.content .second-row .container .urgent .urgent-row {
    width: calc(100% - 64px);
    height: 100%;
    padding-left: 32px;
}

.content .second-row .container .urgent .urgent-row .button {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.content .second-row .container .urgent .urgent-row .button p {
    font-weight: 500;
    color: #252A34;
}






.content .second-row .container .info {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-row .container .info p {
    font-weight: 400;
    color: #8593A9;
}










.content .second-row .publish {
    height: 56px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .second-row .publish button {
    width: 248px;
    height: 100%;
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--White);
    cursor: pointer;
    transition: .3s;
}

.content .second-row .publish button:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}