* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

:root{
    --Pink-Hard: #FF2E63;
    --Gray-Dark: #252A34;
    --White: #FFFFFF;

}

body {
    width: 100vw;
    height: 140vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #EFF0F3;
}

body::-webkit-scrollbar {
    display: none;
}

.request.active {
    display: none;
}

.request {
    display: block;
    position: absolute;
    width: 100vw;
    height: 150%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1;
}

.request .close-signup {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.request .close-signup i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.request .close-signup i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.request .signup {
    width: 506px;
    height: 704px;
    border-radius: 16px;
    background-color: var(--White);
}

.request .signup .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.request .signup .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.request .signup .container {
    width: 385px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.request .signup .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .first-row input {
    width: 184px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .first-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .third-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fourth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fourth-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .fourth-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fifth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fifth-row .card {
    width: 116px;
    height: 72px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #EFF0F3;
    cursor: pointer;
}

.request .signup .container .fifth-row .card p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.request .signup .container .fifth-row .card:hover {
    border: 2px solid var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover p {
    color: var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}


.request .signup .container .createAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 40px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.request .signup .container .createAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
}

.loginrequest.active {
    display: none;
}

.loginrequest {
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 17%;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1;
}

.loginrequest .login {
    width: 505px;
    height: 408px;
    background-color: var(--White);
    border-radius: 16px;
}

.loginrequest .close-login {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginrequest .close-login i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.loginrequest .close-login i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.loginrequest .login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.loginrequest .login .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.loginrequest .login .container {
    width: 385px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loginrequest .login .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginrequest .login .container .first-row .input-group {
    position: relative;
}

.loginrequest .login .container .first-row .input-group .input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.loginrequest .login .container .first-row .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.loginrequest .login .container .first-row .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.loginrequest .login .container .first-row .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.loginrequest .login .container .first-row .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.loginrequest .login .container .first-row .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.loginrequest .login .container .first-row .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.loginrequest .login .container .first-row .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.loginrequest .login .container .first-row .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}


.loginrequest .login .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.loginrequest .login .container .second-row .input-group {
    position: relative;
}

.loginrequest .login .container .second-row .input-group .input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.loginrequest .login .container .second-row .input-group .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.loginrequest .login .container .second-row .input-group .input:focus {
    outline: none;
    border: 2px solid transparent;
}

.loginrequest .login .container .second-row .input-group .input:focus ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    color: var(--Pink-Hard);
}

.loginrequest .login .container .second-row .input-group .input:valid:focus {
    border: 2px solid var(--Pink-Hard);
}

.loginrequest .login .container .second-row .input-group .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.loginrequest .login .container .second-row .input-group .input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.loginrequest .login .container .second-row .input-group .input:invalid:focus {
    outline: none;
    border: 2px solid #FFAB2E;
}

.loginrequest .login .container .second-row .input-group .input:invalid:focus  ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: #FFAB2E;
}

.loginrequest .login .container .connectAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 24px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container .connectAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
    transition: .2s;
}

.loginrequest .login .container p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #8593A9;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container p:hover {
    color: var(--Gray-Dark);
    transition: .2s;
}


.main-container {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}









/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
    z-index: 0;
}

.logo {
    width: 120px;
    height: 32px;
}

.logo img {
    cursor: pointer;
}

.menu {
    width: 235px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: var(--Gray-Dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: .2s;
}

.menu a:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-options.active {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options.active .logIn {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .3s;
}

.user-options.active .logIn:hover a{
    transition: .3s;
    color: var(--Gray-Dark);
}

.user-options.active .logIn:hover img{
    transition: .3s;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(85%);
}

.user-options.active .logIn a {
    text-decoration: none;
    color: var(--Pink-Hard);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.user-options.active .signUp {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options.active .signUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Pink-Hard);
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.user-options.active .signUp a:hover {
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}

.user-options {
    display: none;
}

.user-loggedIn.active {
    display: none;
}

.user-loggedIn {
    height: 65%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.user-loggedIn .img1 {
    display: none;
}

.user-loggedIn .img2 {
    display: none;
}

.user-loggedIn .img3 {
    display: none;
}

.user-loggedIn .img4 {
    display: none;
}

.user-loggedIn img {
    width: 25%;
    border-radius: 50%;
    cursor: default;
}

.user-loggedIn .user-options-inner {
    width: 65%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-loggedIn .user-options-inner p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2):hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn-Dropdown.active {
    display: none;
}

.user-loggedIn-Dropdown {
    position: absolute;
    right: 5.5%;
    top: 7.5%;
    width: 170px;
    height: 150px;
    border-radius: 4px;
    background-color: var(--White);
    cursor: default;
}

.user-loggedIn-Dropdown .dashboard {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .dashboard .dashboard-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .dashboard p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn-Dropdown .dashboard:hover .dashboard-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .dashboard:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .create-publication {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .create-publication .create-publication-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .create-publication a{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
    text-decoration: none;
}

.user-loggedIn-Dropdown .create-publication:hover .create-publication-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .create-publication:hover a {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .my-profile {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .my-profile .my-profile-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .my-profile p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn-Dropdown .my-profile:hover .my-profile-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .my-profile:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .logout {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .logout .logout-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .logout:hover .logout-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .logout:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .logout p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}







/* CONTENT */

.content {
    width: 1224px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: default;
}

.content .first-section {
    width: 100%;
    height: 856px;
    background-color: var(--White);
    border-radius: 8px;
}

.content .first-section .images {
    width: 100%;
    height: 400px;
    display: flex;
}

.content .first-section .images .main-image {
    width: 50%;
    border-radius: 8px 0px 0px 0px;
}

.content .first-section .images .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0px 0px 0px;
    cursor: pointer;
}

.content .first-section .images .main-image img:hover {
    filter: brightness(0.7);
}

.content .first-section .images .side-images {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content .first-section .images .side-images .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.content .first-section .images .side-images .image img:hover {
    filter: brightness(0.7);
}

.content .first-section .images .side-images .image:nth-child(2) {
    border-radius: 0 8px 0 0;
}

.content .first-section .images .side-images .image:nth-child(2) img {
    border-radius: 0 8px 0 0;
}






.content .first-section .information {
    width: 100%;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
}

.content .first-section .information .house-first-row {
    width: 100%;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .first-section .information .house-first-row .location {
    width: 100%;
    height: 16px;
}

.content .first-section .information .house-first-row .location p {
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.content .first-section .information .house-first-row .inner-second-row {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
}

.content .first-section .information .house-first-row .inner-second-row .address h1 {
    font-size: 32px;
}

.content .first-section .information .house-first-row .inner-second-row .price-row {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.content .first-section .information .house-first-row .inner-second-row .price-row p {
    font-size: 32px;
    font-weight: 600;
    color: var(--Pink-Hard);
}

.content .first-section .information .house-first-row .inner-second-row .price-row img {
    width: 32px;
    height: 32px;
    margin-top: 25%;
}

.content .first-section .information .house-second-row {
    width: 100%;
    height: 320px;
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content .first-section .information .house-second-row .first-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}










.content .first-section .information .house-second-row .first-container .basic-info {
    width: 100%;
    height: 88px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 2px solid #EFF0F3;
}

.content .first-section .information .house-second-row .first-container .basic-info .title {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .first-section .information .house-second-row .first-container .basic-info .title p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}






.content .first-section .information .house-second-row .first-container .basic-info .info-details {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .bedrooms {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .bedrooms p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .bathrooms {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .bathrooms p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .size {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .size p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .construction {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .basic-info .info-details .construction p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}













.content .first-section .information .house-second-row .first-container .home-details {
    width: 100%;
    height: 104px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 2px solid #EFF0F3;
}

.content .first-section .information .house-second-row .first-container .home-details  .title {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .first-section .information .house-second-row .first-container .home-details  .title p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .kitchen p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gym p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .washer p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garaje p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .pool p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .ac p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .gas p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .garden p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi.active {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi.active img {
    width: 24px;
    height: 24px;
    filter: none;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi.active p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 1.5%;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .home-details .info-details .jacuzzi p {
    font-size: 12px;
    font-weight: 400;
    color: #FF2E63;
}

















.content .first-section .information .house-second-row .first-container .contact-seller {
    width: 100%;
    height: 96px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 2px solid #EFF0F3;
}

.content .first-section .information .house-second-row .first-container .contact-seller .title {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .first-section .information .house-second-row .first-container .contact-seller .title p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row {
    width: 100%;
    height: 32px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .phone {
    width: 116px;
    height: 100%;
    border-radius: 8px;
    background-color: #FF2E63;
    border: 2px solid #FF2E63;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .phone p {
    font-size: 14px;
    font-weight: 400;
    color: var(--White);
    padding-top: 1%;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .phone:hover {
    background-color: transparent;
    border: 2px solid #FF2E63;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .phone:hover p {
    color: #FF2E63;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .phone:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .whatsapp {
    width: 116px;
    height: 100%;
    border-radius: 8px;
    background-color: #FF2E63;
    border: 2px solid #FF2E63;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .whatsapp p {
    font-size: 14px;
    font-weight: 400;
    color: var(--White);
    padding-top: 1%;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .whatsapp:hover {
    background-color: transparent;
    border: 2px solid #FF2E63;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .whatsapp:hover p {
    color: #FF2E63;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .whatsapp:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .email {
    width: 116px;
    height: 100%;
    border-radius: 8px;
    background-color: #FF2E63;
    border: 2px solid #FF2E63;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .email p {
    font-size: 14px;
    font-weight: 400;
    color: var(--White);
    padding-top: 1%;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .email:hover {
    background-color: transparent;
    border: 2px solid #FF2E63;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .email:hover p {
    color: #FF2E63;
    transition: .2s;
}

.content .first-section .information .house-second-row .first-container .contact-seller .container-row .email:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}











.content .first-section .information .house-second-row .map {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.content .first-section .information .house-second-row .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}









.content .second-section {
    width: 100%;
    height: 296px;
    margin-top: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .second-section .first-container {
    width: 600px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--White);
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content .second-section .first-container .title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-section .first-container .title h1 {
    font-size: 32px;
    font-weight: 500;
    color: var(--Pink-Hard);
}

.content .second-section .first-container .first-row {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.content .second-section .first-container .first-row .input-group1 {
    position: relative;
}

.content .second-section .first-container .input-group1 .input {
    width: 206px;
    height: 48px;
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.content .second-section .first-container .input-group1 .input:focus:read-only {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .second-section .first-container .input-group1 .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .second-section .first-container .input-group1 .input:valid {
    border: 2px solid var(--Pink-Hard);
}

.content .second-section .first-container .input-group1 .input ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    color: var(--Pink-Hard);
}






.content .second-section .first-container .first-row .input-group2 {
    position: relative;
}

.content .second-section .first-container .first-row .input-group2 .select {
    width: 148px;
    height: 48px;
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    background: none;
    padding-left: 16px;
    font-size: 1rem;
    color: var(--Gray-Dark);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    -webkit-appearance: none;
    cursor: pointer;
}

.content .second-section .first-container .first-row .input-group2 .select:focus:read-only {
    outline: none;
    border: 2px var(--Pink-Hard) solid;
}

.content .second-section .first-container .first-row .input-group2 .user-label {
    position: absolute;
    left: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}

.content .second-section .first-container .first-row .input-group2 .select ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--White);
    padding: 0 .5em;
    font-weight: 500;
    left: 5%;
    color: var(--Pink-Hard);
}

.content .second-section .first-container .first-row .input-group2 .arrow {
    position: absolute;
    right: 15px;
    color: var(--Gray-Dark);
    pointer-events: none;
    transform: translateY(1rem);
    background-color: transparent;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-weight: 400;
}










.content .second-section .first-container .second-row {
    width: 100%;
    height: 120px;
    margin-top: 24px;
}

.content .second-section .first-container .second-row .title {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-section .first-container .second-row .title h2 {
    font-size: 24px;
    font-weight: 400;
    color: #8593A9;
}

.content .second-section .first-container .second-row .first-inner-row {
    width: 100%;
    height: 16px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-section .first-container .second-row .first-inner-row .amount {
    width: 50%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.content .second-section .first-container .second-row .first-inner-row .amount p {
    font-size: 16px;
    font-weight: 500;
    color: #8593A9;
}

.content .second-section .first-container .second-row .first-inner-row .percentage {
    width: 50%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.content .second-section .first-container .second-row .first-inner-row .percentage p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}








.content .second-section .first-container .second-row .second-inner-row {
    width: 100%;
    height: 16px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .second-section .first-container .second-row .second-inner-row .slider {
    width: 100%;
    height: 16px;
}

.content .second-section .first-container .second-row .second-inner-row .slider .slider_input::after {
    content: '';
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    top: 26%;
}

.content .second-section .first-container .second-row .second-inner-row .slider .slider_input::before {
    content: '';
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 12%;
    top: 26%;
}

.content .second-section .first-container .second-row .second-inner-row .slider .slider_input {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #FF2E63 50%, rgb(214,214,214) 50%);
    outline: none;
    -webkit-transition: .2s;
    border-radius: 8px;
}

.content .second-section .first-container .second-row .second-inner-row .slider .slider_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--Pink-Hard);
    border: 3px solid var(--White);
    cursor: pointer;
}







.content .second-section .first-container .second-row .third-inner-row {
    width: 100%;
    height: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-section .first-container .second-row .third-inner-row p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}




































.content .second-section .second-container {
    width: 600px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 32px;
}

.content .second-section .second-container .title {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content .second-section .second-container .title h1 {
    font-size: 32px;
    font-weight: 400;
    color: #8593A9;
}

.content .second-section .second-container .first-content {
    width: 100%;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.content .second-section .second-container .first-content .left-row {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.content .second-section .second-container .first-content .left-row .monthy-payment {
    width: 100%;
    height: 48px;
}

.content .second-section .second-container .first-content .left-row .monthy-payment .first-row {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 16px;
}

.content .second-section .second-container .first-content .left-row .monthy-payment .first-row .icon {
    width: 16px;
    height: 16px;
    background-color: #FFBACC;
}

.content .second-section .second-container .first-content .left-row .monthy-payment .first-row p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.content .second-section .second-container .first-content .left-row .monthy-payment .second-row {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 8px;
}

.content .second-section .second-container .first-content .left-row .monthy-payment .second-row p {
    font-size: 24px;
    font-weight: 500;
    color: #8593A9;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings {
    width: 100%;
    height: 48px;
    padding-bottom: 16px;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings .first-row {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 16px;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings .first-row .icon {
    width: 16px;
    height: 16px;
    background-color: #FA5F86;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings .first-row p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings .second-row {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 8px;
}

.content .second-section .second-container .first-content .left-row .monthy-earnings .second-row p {
    font-size: 24px;
    font-weight: 500;
    color: #8593A9;
}












.content .second-section .second-container .first-content .right-row {
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}





.content .second-section .second-container .last-content {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.content .second-section .second-container .last-content p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}