* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0;
}

:root{
    --Pink-Hard: #FF2E63;
    --Gray-Dark: #252A34;
    --White: #FFFFFF;

}

body {
    width: 99.24vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF0F3;
}

.request.active {
    display: none;
}

.request {
    display: block;
    position: absolute;
    width: 99.24vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1;
}

.request .close-signup {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.request .close-signup i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.request .close-signup i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.request .signup {
    width: 506px;
    height: 704px;
    border-radius: 16px;
    background-color: var(--White);
}

.request .signup .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.request .signup .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.request .signup .container {
    width: 385px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.request .signup .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .first-row input {
    width: 184px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .first-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .third-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fourth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fourth-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .fourth-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fifth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fifth-row .card {
    width: 116px;
    height: 72px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #EFF0F3;
    cursor: pointer;
}

.request .signup .container .fifth-row .card p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.request .signup .container .fifth-row .card:hover {
    border: 2px solid var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover p {
    color: var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}

.request .signup .container .createAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 40px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.request .signup .container .createAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
}

.loginrequest.active {
    display: none;
}

.loginrequest {
    display: block;
    position: absolute;
    width: 99.24vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1;
}

.loginrequest .login {
    width: 505px;
    height: 408px;
    background-color: var(--White);
    border-radius: 16px;
}

.loginrequest .close-login {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginrequest .close-login i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.loginrequest .close-login i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.loginrequest .login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.loginrequest .login .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.loginrequest .login .container {
    width: 385px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loginrequest .login .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginrequest .login .container .first-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.loginrequest .login .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.loginrequest .login .container .connectAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 24px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container .connectAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
    transition: .2s;
}

.loginrequest .login .container p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    color: #8593A9;
    cursor: pointer;
    transition: .2s;
}

.loginrequest .login .container p:hover {
    color: var(--Gray-Dark);
    transition: .2s;
}

.main-container {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}







/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    background-color: var(--White);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
    z-index: 0;
}

.logo {
    width: 120px;
    height: 32px;
}

.logo img {
    cursor: pointer;
}

.menu {
    width: 235px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: var(--Gray-Dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: .2s;
}

.menu a:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-options.active {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options.active .logIn {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .3s;
}

.user-options.active .logIn:hover a{
    transition: .3s;
    color: var(--Gray-Dark);
}

.user-options.active .logIn:hover img{
    transition: .3s;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(85%);
}

.user-options.active .logIn a {
    text-decoration: none;
    color: var(--Pink-Hard);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.user-options.active .signUp {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options.active .signUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Pink-Hard);
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.user-options.active .signUp a:hover {
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}

.user-options {
    display: none;
}

.user-loggedIn.active {
    display: none;
}

.user-loggedIn {
    height: 65%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.user-loggedIn .img1 {
    display: none;
}

.user-loggedIn .img2 {
    display: none;
}

.user-loggedIn .img3 {
    display: none;
}

.user-loggedIn .img4 {
    display: none;
}

.user-loggedIn img {
    width: 25%;
    border-radius: 50%;
    cursor: default;
}

.user-loggedIn .user-options-inner {
    width: 65%;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-loggedIn .user-options-inner p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn .user-options-inner p:nth-child(2):hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-loggedIn-Dropdown.active {
    display: none;
}

.user-loggedIn-Dropdown {
    position: absolute;
    right: 5.5%;
    top: 7.5%;
    width: 170px;
    height: 150px;
    border-radius: 4px;
    background-color: var(--White);
    cursor: default;
    border: 2px solid var(--Pink-Hard);
}

.user-loggedIn-Dropdown .dashboard {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .dashboard .dashboard-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .dashboard p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn-Dropdown .dashboard:hover .dashboard-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .dashboard:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .create-publication {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .create-publication .create-publication-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .create-publication a{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
    text-decoration: none;
}

.user-loggedIn-Dropdown .create-publication:hover .create-publication-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .create-publication:hover a {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .my-profile {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .my-profile .my-profile-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .my-profile p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.user-loggedIn-Dropdown .my-profile:hover .my-profile-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .my-profile:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .logout {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
    font-size: 1.25rem;
    cursor: pointer;
}

.user-loggedIn-Dropdown .logout .logout-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-loggedIn-Dropdown .logout:hover .logout-icon img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(7294%) hue-rotate(327deg) brightness(101%) contrast(102%);
}

.user-loggedIn-Dropdown .logout:hover p {
    color: var(--Pink-Hard);
}

.user-loggedIn-Dropdown .logout p{
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}










/* Content */

.content {
    width: 100%;
    height: 200%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    cursor: default;
}

.filters-menu {
    width: 25%;
    min-width: 288px;
    min-height: 1000px;
    background-color: var(--White);
    border-radius: 8px;
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.filters-menu .searches-title {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-menu .searches-title p {
    font-weight: 500;
    color: var(--Gray-Dark);
    cursor: default;
}

.filters-menu .searches-title #city {
    font-weight: 600;
    color: var(--Pink-Hard);
}

.filters-menu .searches-title #results-amount {
    font-weight: 600;
    color: var(--Pink-Hard);
}

.filters-menu .basic-filters {
    width: 100%;
    min-height: 176px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters-menu .basic-filters .section-title {
    width: 100%;
    min-height: 16px;
    font-size: 1.1vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-menu .basic-filters .inputs {
    width: 100%;
    min-height: 152px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.filters-menu .basic-filters .inputs .ciudad {
    width: 100%;
    min-height: 40px;
}

.filters-menu .basic-filters .ciudad input::placeholder {
    color: var(--Pink-Hard);
}

.filters-menu .basic-filters .ciudad input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #EFF0F3;
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    color: var(--Pink-Hard);
    font-size: 1vw;
    font-weight: 500;
    justify-content: space-between;
}

.filters-menu .basic-filters .inputs .re-type {
    width: 100%;
    min-height: 40px;
}

.filters-menu .basic-filters .inputs .re-type select {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #EFF0F3;
    border: none;
    border-radius: 8px;
    color: #8593A9;
    font-size: 1vw;
    font-weight: 500;
    -webkit-appearance: none;
    cursor: pointer;
}

.filters-menu .basic-filters .inputs .re-type select option {
    color: #8593A9;
    font-size: 1vw;
    font-weight: 500;
}

.filters-menu .basic-filters .inputs .re-type select option:active {
    color: var(--Pink-Hard);
}

.filters-menu .basic-filters .inputs .re-type select option:checked {
    display: none;
}

.filters-menu .basic-filters .inputs .tag {
    width: 100%;
    min-height: 40px;
}

.filters-menu .basic-filters .inputs .tag select {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #EFF0F3;
    border: none;
    border-radius: 8px;
    color: #8593A9;
    font-size: 1vw;
    font-weight: 500;
    -webkit-appearance: none;
    cursor: pointer;
}









.price {
    width: 100%;
    height: 68px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.price .section-title {
    width: 100%;
    height: 16px;
    font-size: 1.1vw;
    font-weight: 500;
}

.price .inputs {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.price .inputs .min {
    width: 50%;
    min-width: 112px;
    height: 40px;
}

.price .inputs .min input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #EFF0F3;
    border-radius: 8px;
    border: 2px solid transparent;
    color: var(--Pink-Hard);
    font-size: 1vw;
    font-weight: 500;
}

.price .inputs .min input::placeholder {
    color: #8593A9;
}

.price .inputs .max {
    width: 50%;
    min-width: 112px;
    height: 40px;
}

.price .inputs .max input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: #EFF0F3;
    border-radius: 8px;
    border: 2px solid transparent;
    color: var(--Pink-Hard);
    font-size: 1vw;
    font-weight: 500;
}

.price .inputs .max input::placeholder {
    color: #8593A9;
}

.price .inputs input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}









.basic-filters-category {
    width: 100%;
    height: 176px;
    margin-top: 24px;
}

.basic-filters-category .section-title {
    width: 100%;
    height: 18px;
    font-size: 1.1vw;
    font-weight: 500;
}

.basic-filters-category .options {
    width: 100%;
    height: 152px;
    margin-top: 12px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
}

.basic-filters-category .options .bedrooms {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basic-filters-category .options .bedrooms .section-name {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.basic-filters-category .options .bedrooms .section-name p {
    font-size: .9vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .bedrooms .buttons {
    width: 30%;
    min-width: 72px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basic-filters-category .options .bedrooms .buttons p {
    font-size: .90vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .bedrooms .buttons button {
    width: 24px;
    height: 24px;
    background-color: var(--White);
    border: 1px solid #8593A9;
    border-radius: 28px;
    color: #8593A9;
    font-size: .7vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.basic-filters-category .options .bedrooms .buttons button i {
    padding-left: 5%;
    padding-top: 5%;
}

.basic-filters-category .options .bedrooms .buttons button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--Pink-Hard);
}

.basic-filters-category .options .garajes {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basic-filters-category .options .garajes .section-name {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.basic-filters-category .options .garajes .section-name p {
    font-size: .9vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .garajes .buttons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basic-filters-category .options .garajes .buttons p {
    font-size: .90vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .garajes .buttons button {
    width: 24px;
    height: 24px;
    background-color: var(--White);
    border: 1px solid #8593A9;
    border-radius: 28px;
    color: #8593A9;
    font-size: .7vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.basic-filters-category .options .garajes .buttons button i {
    padding-left: 5%;
    padding-top: 5%;
}

.basic-filters-category .options .garajes .buttons button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--Pink-Hard);
}

.basic-filters-category .options .bathrooms {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basic-filters-category .options .bathrooms .section-name {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.basic-filters-category .options .bathrooms .section-name p {
    font-size: .9vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .bathrooms .buttons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basic-filters-category .options .bathrooms .buttons p {
    font-size: .90vw;
    font-weight: 400;
    color: #8593A9;
}

.basic-filters-category .options .bathrooms .buttons button {
    width: 24px;
    height: 24px;
    background-color: var(--White);
    border: 1px solid #8593A9;
    border-radius: 28px;
    color: #8593A9;
    font-size: .7vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.basic-filters-category .options .bathrooms .buttons button i {
    padding-left: 5%;
    padding-top: 5%;
}

.basic-filters-category .options .bathrooms .buttons button:hover {
    border: 1px solid var(--Pink-Hard);
    color: var(--Pink-Hard);
}

















.properties {
    width: 75%;
    min-width: 912px;
    height: 100%;
    margin-top: 40px;
    margin-right: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.properties .outstanding {
    width: 100%;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.properties .outstanding .card {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--White);
    border-radius: 8px;
    transition: .3s;
}

.properties .outstanding .card:hover {
    box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    -webkit-box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    -moz-box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    cursor: pointer;
    transition: .3s;
}

.properties .outstanding .card .image-section {
    width: 31.5%;
    min-width: 288px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
}

.properties .outstanding .card .image-section img:nth-child(2) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    position: inherit;
}

.properties .outstanding .card .image-section .icon {
    width: 56px;
    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 0;
}

.properties .outstanding .card .image-section .icon p {
    font-size: 1.1vw;
    padding-top: 5%;
    font-weight: 500;
    color: var(--White);
}

.properties .outstanding .card .info-section {
    width: 68.5%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

.properties .outstanding .card .info-section .first-row {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.properties .outstanding .card .info-section .first-row .price {
    width: 25%;
    min-width: 148px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.properties .outstanding .card .info-section .first-row .price p {
    font-size: calc(24px + .5vw);
    font-weight: 500;
    color: var(--Gray-Dark);
}

.properties .outstanding .card .info-section .first-row .tag {
    width: 5vw;
    min-width: 68px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid var(--Pink-Hard);
}

.properties .outstanding .card .info-section .first-row .tag p {
    font-size: calc(1vw + 2px);
    font-weight: 500;
    color: var(--Pink-Hard);
}

.properties .outstanding .card .info-section .second-row {
    width: 100%;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.properties .outstanding .card .info-section .second-row .property-results {
    width: 60%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.properties .outstanding .card .info-section .second-row .property-results p {
    font-size: calc(1vw + 2px);
    font-weight: 600;
    color: var(--Gray-Dark);
}

.properties .outstanding .card .info-section .second-row .property-extras {
    width: 55%;
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: space-between;
}

.properties .outstanding .card .info-section .second-row .property-extras p {
    font-size: calc(1vw + 2px);
    font-weight: 400;
    color: #8593A9;
}

.properties .outstanding .card .info-section .third-row {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.properties .outstanding .card .info-section .third-row .property-address {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.properties .outstanding .card .info-section .third-row .property-address p {
    font-size: calc(.9vw + 2px);
    font-weight: 400;
    color: #8593A9;
}

.properties .outstanding .card .info-section .third-row .icons {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.properties .outstanding .card .info-section .third-row .icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}














.properties .normal-announcements {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
}

.properties .normal-announcements .card {
    width: 100%;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    border-radius: 8px;
}


