* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

:root{
    --Pink-Hard: #FF2E63;
    --Gray-Dark: #252A34;
    --White: #FFFFFF;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF0F3;
}

.request.active {
    display: none;
}

.request {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 10, 10, 11, 0.85 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 0;
}

.request .close-signup {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top: 3%;
    margin-left: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.request .close-signup i {
    color: #8593A9;
    font-size: 3vw;
    transition: .2s;
}

.request .close-signup i:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.request .signup {
    width: 506px;
    height: 704px;
    border-radius: 16px;
    background-color: var(--White);
}

.request .signup .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.request .signup .title {
    width: 100%;
    margin-top: 5px;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.request .signup .container {
    width: 385px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.request .signup .container .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .first-row input {
    width: 184px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .first-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .second-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .second-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .third-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .third-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fourth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fourth-row input {
    width: 385px;
    height: 48px;
    border: 2px solid #EFF0F3;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Gray-Dark);
}

.request .signup .container .fourth-row input::placeholder {
    color: #8593A9;
    font-weight: 400;
}

.request .signup .container .fifth-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.request .signup .container .fifth-row .card {
    width: 116px;
    height: 72px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #EFF0F3;
    cursor: pointer;
}

.request .signup .container .fifth-row .card p {
    font-size: 16px;
    font-weight: 400;
    color: #8593A9;
}

.request .signup .container .fifth-row .card:hover {
    border: 2px solid var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover p {
    color: var(--Pink-Hard);
}

.request .signup .container .fifth-row .card:hover img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(2870%) hue-rotate(328deg) brightness(103%) contrast(102%);
}


.request .signup .container .createAccount {
    width: 205.5px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--Pink-Hard);
    margin-top: 40px;
    color: var(--Pink-Hard);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.request .signup .container .createAccount:hover {
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
}





.main-container {
    width: 100%;
    height: 100vh;
    z-index: 0;
}









/* NAVBAR */

.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 108px;
    padding-right: 108px;
    z-index: 0;
}

.logo {
    width: 120px;
    height: 32px;
}

.logo img {
    cursor: pointer;
}

.menu {
    width: 235px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: var(--Gray-Dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: .2s;
}

.menu a:hover {
    color: var(--Pink-Hard);
    transition: .2s;
}

.user-options {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options .logIn {
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .3s;
}

.user-options .logIn:hover a{
    transition: .3s;
    color: var(--Gray-Dark);
}

.user-options .logIn:hover img{
    transition: .3s;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(85%);
}

.user-options .logIn a {
    text-decoration: none;
    color: var(--Pink-Hard);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.user-options .signUp {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options .signUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Pink-Hard);
    border: 2px solid var(--Pink-Hard);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.user-options .signUp a:hover {
    background-color: transparent;
    color: var(--Pink-Hard);
    transition: .3s;
}









/* HERO */

.hero {
    width: 100%;
    height: 600px;
    background-image: url(./hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    width: 100%;
    height: 100%;
    margin-left: 106px;
    margin-right: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .container .title {
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: default;
}

.hero .container .title h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: var(--White);
    text-shadow: 5px 5px 6px var(--Gray-Dark);
}

.hero .container .title h1 strong {
    color: #FFBECE;
}

.hero .container .title h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--White);
    text-shadow: 5px 5px 6px var(--Gray-Dark);
}

.hero .container .search {
    width: 808px;
    height: 88px;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--White);
    border-radius: 16px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.hero .container .search .first-part {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container .search .first-part input {
    width: 70%;
    height: 70%;
    border: none;
    padding-left: 5%;
    color: #252A34;
    font-size: 16px;
}

.hero .container .search .first-part input::placeholder {
    color: #252A34;
    font-size: 16px;
    font-weight: 500;
}

.divider {
    height: 100%;
    width: 1px;
    background-color: var(--Gray-Dark);
}

.hero .container .search .second-part {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container .search .second-part select {
    width: 70%;
    height: 70%;
    border: 2px solid var(--White);
    padding-left: 5%;
    color: #252A34;
    font-size: 16px;
    font-weight: 500;
    -webkit-appearance: none;
    cursor: pointer;
}

.hero .container .search .second-part select::-ms-expand {
    -webkit-appearance: none;
}

.hero .container .search .third-part {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .container .search .third-part .section {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
}

.hero .container .search .third-part .buttons {
    width: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .container .search .third-part .buttons button {
    width: 24px;
    height: 24px;
    border: 1px solid #8593A9;
    border-radius: 28px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-left: 8.5%;
}

.hero .container .search .third-part .buttons button:hover {
    background-color: var(--Pink-Hard);
    border: 1px solid var(--Pink-Hard);
    transition: .2s;
}

.hero .container .search .third-part .buttons button:hover i{
    color: var(--White);
    transition: .2s;
}

.hero .container .search .third-part .buttons p {
    cursor: default;
    font-size: 16px;
}

.hero .container .search .search-btn {
    width: 104px;
    height: 40px;
    border: 2px solid var(--Pink-Hard);
    background-color: var(--Pink-Hard);
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.hero .container .search .search-btn:hover {
    background-color: var(--White);
    border: 2px solid var(--Pink-Hard);
    color: var(--Pink-Hard);
    transition: .3s;
}









/* Popular Section */

.popular-section {
    width: 100%;
    height: 30.9%;
    padding-left: 160px;
    padding-right: 160px;
}

.popular-section .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.popular-section .container .popular-title {
    width: 100%;
    height: 20%;
    margin-top: 48px;
}

.popular-section .container .popular-title h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 56px;
    color: var(--Gray-Dark);
    cursor: default;
}

.popular-section .container .cards-container {
    width: 100%;
    height: 50%;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-section .container .cards-container .card {
    width: 22%;
    height: 96px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.popular-section .container .cards-container .card .photo {
    width: 96px;
    height: 100%;
}

.popular-section .container .cards-container .card .photo img {
    width: 96px;
    height: 96px;
}

.popular-section .container .cards-container .card .title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
}

.popular-section .container .cards-container .card .title h1 {
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--Gray-Dark);
    transition: .2s;
}

.popular-section .container .cards-container .card .title p {
    font-size: .80vw;
    font-weight: 400;
    color: #8593A9;
    transition: .2s;
}

.popular-section .container .cards-container .card:hover {
    box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    -webkit-box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    -moz-box-shadow: 7px 8px 14px 3px rgba(0,0,0,0.57);
    transition: .3s;
}

.popular-section .container .cards-container .card:hover h1 {
    color: var(--Pink-Hard);
    transition: .2s;
}

.popular-section .container .cards-container .card:hover p {
    color: var(--Gray-Dark);
    transition: .2s;
}