nav {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    z-index: 5;
}





nav .navbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .first-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .news-modal {
    width: 0;
    height: 0;
    display: none;
}

nav .news-modal.open {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    overflow: auto;
}

nav .settings-modal {
    width: 0;
    height: 0;
    display: none;
}

nav .settings-modal.open {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    overflow: auto;
}

nav .search-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .modal {
    width: 100%;
    max-width: 610px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 24px;
    gap: 8px;
}

nav .first-row {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

nav .first-row h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

nav .first-row .close-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .first-row svg:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(29%) sepia(94%) saturate(2397%) hue-rotate(327deg) brightness(100%) contrast(103%);
}





nav .third-section {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .third-section .icons {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

nav .third-section .icons .icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav .third-section .icons .icon-container .icon {
    width: 24px;
    height: 24px;
}

nav .third-section .icons .icon-container .icon path {
    width: 24px;
    height: 24px;
}

nav .third-section .icons svg:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(29%) sepia(94%) saturate(2397%) hue-rotate(327deg) brightness(100%) contrast(103%);
}

nav .third-section .create-property-link {
    width: 100%;
    height: 34px;
    background-color: #FF2E63;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF2E63;
}

nav .third-section .create-property-link:hover {
    background-color: #FFFFFF;
    color: #FF2E63;
    border: 2px solid #FF2E63;
    cursor: pointer;
}