@font-face {
    font-family: 'Roboto';
    src: url(../fonts/ROBOTO-REGULAR.TTF);
}

.App {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto';
}

.property-container {
    width: 100%;
    max-width: 1240px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 0;
    gap: 24px;
}

.property-container .property-images-module {
    width: 100%;
    height: 520px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.property-container .property-images-module .title {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.property-container .property-images-module .title h3 {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
}

.property-container .property-images-module .title h1 {
    font-size: 24px;
    font-weight: 600;
    color: #181818;
}

.property-container .property-images-module .images {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.property-container .property-images-module .images .main-image {
    width: 572px;
    height: 100%;
    border-radius: 8px;
    background-color: #CFD5DD;
    border: 2px transparent solid outset;
}

.property-container .property-images-module .images .main-image:hover {
    cursor: pointer;
    outline: 2px solid #181818;
}

.property-container .property-images-module .images .secondary-images {
    width: 596px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.property-container .property-images-module .images .secondary-images .image:hover {
    cursor: pointer;
    outline: 2px solid #181818;
}

.property-container .property-images-module .images .secondary-images .image.is-loading {
    background: #CFD5DD;
    background: linear-gradient(110deg, #CFD5DD 8%, #DCE1E7 18%, #CFD5DD 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.property-container .property-images-module .images .secondary-images .image:nth-child(1) {
    width: 294px;
    height: 196px;
    border-radius: 8px 0 0 0;
    background-color: #CFD5DD;
}

.property-container .property-images-module .images .secondary-images .image:nth-child(2) {
    width: 294px;
    height: 196px;
    border-radius: 0 8px 0 0;
    background-color: #CFD5DD;
}

.property-container .property-images-module .images .secondary-images .image:nth-child(3) {
    width: 294px;
    height: 196px;
    border-radius: 0 0 0 8px;
    background-color: #CFD5DD;
}

.property-container .property-images-module .images .secondary-images .image:nth-child(4) {
    width: 294px;
    height: 196px;
    border-radius: 0 0 8px 0;
    background-color: #CFD5DD;
}









.property-container .property-details-modules {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.property-container .property-details-modules .left-side {
    width: 832px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.property-container .property-details-modules .left-side .location-module {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .left-side .location-module .title {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
}

.property-container .property-details-modules .left-side .location-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    line-height: 32px;
}

.property-container .property-details-modules .left-side .location-module .title h1 strong {
    color: #FF2E63;
}

.property-container .property-details-modules .left-side .location-module .title h3 {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
    line-height: 20px;
}

.property-container .property-details-modules .left-side .location-module .map {
    width: 100%;
    height: 324px;
    border-radius: 8px;
    background-color: #CFD5DD;
}

.property-container .property-details-modules .left-side .location-module .map.is-loading {
    background: #CFD5DD;
    background: linear-gradient(110deg, #CFD5DD 8%, #DCE1E7 18%, #CFD5DD 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}




.property-container .property-details-modules .left-side .details-module {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .left-side .details-module .title {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
}

.property-container .property-details-modules .left-side .details-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    line-height: 32px;
}

.property-container .property-details-modules .left-side .details-module .title h1 strong {
    color: #FF2E63;
}

.property-container .property-details-modules .left-side .details-module .details {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.property-container .property-details-modules .left-side .details-module .details .detail {
    width: 360px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .left-side .details-module .details .detail.hide {
    display: none;
}

.property-container .property-details-modules .left-side .details-module .details .detail img {
    width: 24px;
    height: 24px;
}

.property-container .property-details-modules .left-side .details-module .details .detail span {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
    line-height: 24px;
    padding-top: 1%;
}















.property-container .property-details-modules .right-side {
    width: 384px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.property-container .property-details-modules .right-side .price-module {
    width: 100%;
    height: 136px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .right-side .price-module .title {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.property-container .property-details-modules .right-side .price-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

.property-container .property-details-modules .right-side .price-module .title h1 strong {
    color: #FF2E63;
}

.property-container .property-details-modules .right-side .price-module .price {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: #F6F7F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.property-container .property-details-modules .right-side .price-module .price h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    line-height: 24px;
}

.property-container .property-details-modules .right-side .price-module .price img {
    width: 24px;
    height: 24px;
}





.property-container .property-details-modules .right-side .description-module {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .right-side .description-module .title {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.property-container .property-details-modules .right-side .description-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

.property-container .property-details-modules .right-side .description-module .title h1 strong {
    color: #FF2E63;
}

.property-container .property-details-modules .right-side .description-module .description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    word-break: break-word;
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
}





.property-container .property-details-modules .right-side .contact-module {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .right-side .contact-module .title {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.property-container .property-details-modules .right-side .contact-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

.property-container .property-details-modules .right-side .contact-module .title h1 strong {
    color: #FF2E63;
}

.property-container .property-details-modules .right-side .contact-module .contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    word-break: break-word;
    gap: 16px;
}

.property-container .property-details-modules .right-side .contact-module .contact p {
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
    line-height: 24px;
}

.property-container .property-details-modules .right-side .contact-module .contact .item {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}






.property-container .property-details-modules .right-side .get-info-module {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.property-container .property-details-modules .right-side .get-info-module .title {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.property-container .property-details-modules .right-side .get-info-module .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

.property-container .property-details-modules .right-side .get-info-module .form {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #636D7E;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions input[type="checkbox"]:checked {
    background-color: #636D7E;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions input[type="checkbox"]:checked::after {
    content: "";
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions p {
    width: 304px;
    font-size: 16px;
    font-weight: 500;
    color: #636D7E;
    line-height: 24px;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions p a {
    font-size: 16px;
    font-weight: 600;
    color: #636D7E;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.property-container .property-details-modules .right-side .get-info-module .terms-and-conditions p a:hover {
    text-decoration: underline;
    color: #FF2E63;
}


.property-container .property-details-modules .right-side .get-info-module .submit {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #FF2E63;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0px 24px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid transparent;
}

.property-container .property-details-modules .right-side .get-info-module .submit button {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.property-container .property-details-modules .right-side .get-info-module .submit:hover {
    background-color: #FFFFFF;
    border: 2px solid #FF2E63;
    color: #FF2E63;
    transition: 0.2s;
}

.property-container .property-details-modules .right-side .get-info-module .submit:hover button {
    color: #FF2E63;
    transition: 0.2s;
}












@keyframes shine {
    to {
        background-position-x: -200%;
    }
}