.module-container {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 16px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.module-container .module-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.module-container .uploader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.ant-upload-list.ant-upload-list-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: #FF2E63;
}

.ant-upload-drag-icon svg {
    filter: brightness(0) saturate(100%) invert(27%) sepia(99%) saturate(2332%) hue-rotate(328deg) brightness(101%) contrast(101%);
}





.module-container .module-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.module-container .module-content .basics-first-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.module-container .module-content .basics-first-section .input-container {
    min-width: 306px;
}

.module-container .module-content .basics-first-section .input-container .input {
    min-width: 306px;
    height: 52px;
}

.module-container .module-content .basics-first-section .input-container .ant-input-number-input-wrap {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module-container .module-content .basics-first-section .select-container {
    min-width: 306px;
    min-height: 52px;
}

.module-container .module-content .basics-first-section .select-container .select {
    min-width: 306px;
    min-height: 52px;
    gap: 8px;
}

.module-container .module-content .basics-first-section .select-container .ant-select-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
}

.module-container .module-content .basics-first-section .radio-container {
    min-width: 306px;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 0 32px;
}

.module-container .module-content .basics-first-section .radio-container .ant-radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
}





.module-container .module-content .basics-second-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.module-container .module-content .basics-second-section .select {
    width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.module-container .module-content .basics-second-section .select .ant-space-item {
    min-width: 100%;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.module-container .module-content .basics-second-section .select .ant-select-selector {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
}





.module-container .module-content .basics-third-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.module-container .module-content .basics-third-section .input-container {
    min-width: 306px;
}

.module-container .module-content .basics-third-section .input-container .input {
    min-width: 306px;
    height: 52px;
}

.module-container .module-content .basics-third-section .input-container .ant-input-number-input-wrap input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.module-container .module-content .basics-third-section .input-container .ant-input-number-input-wrap {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.module-container .module-content .basics-fourth-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.module-container .module-content .basics-fourth-section .input-container {
    min-width: 306px;
}

.module-container .module-content .basics-fourth-section .input-container .select {
    min-width: 306px;
    min-height: 52px;
}

.module-container .module-content .basics-fourth-section .input-container .ant-select-selector {
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.module-container .module-content .complementary-first-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.module-container .module-content .complementary-first-section .module-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.module-container .module-content .complementary-first-section .module-item .ant-switch {
    width: 28px;
}









.module-container .module-content .contact-first-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.module-container .module-content .contact-first-section .personal-data {
    min-width: 284px;
}

.module-container .module-content .contact-first-section .personal-data .input {
    min-width: 284px;
    height: 52px;
}

.module-container .module-content .contact-first-section .phone-data {
    min-width: 196px;
}

.module-container .module-content .contact-first-section .phone-data .input-phone {
    min-width: 196px;
    height: 52px;
}

.module-container .module-content .contact-first-section .checkbox-data {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #F5F5F5;
}

.module-container .module-content .contact-first-section .checkbox-data .checkbox {
    min-width: 130px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-container {
    width: 100%;
    max-width: 1030px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 24px;
    background-color: #FFFFFF;
}

.upload-container .module-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.upload-container .module-content {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}